/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --font-color: #242424;
  --background-color: #ffffff;
  --secondary-color: #efefef;
  --form-bg:#f5f5f5;
  --from-border:1px solid #f5f5f5;
  --text-color:#242424;
  /* Table variables */
  --table-bg: #f5f5f5;
  --table-text-color: #212121;
  --table-border-color: #e0e0e0;
  --table-header-bg: #e8eaf6;
  --table-header-text-color: #212121;
  --button-bg: #6200ea;
  --button-text-color: #ffffff;
  
    /* Tabs variables */
    --tabs-bg: #ffffff;
    --tabs-active-bg: #e7f1ff;
    --tabs-border-color: #dee2e6;
    --tabs-text-color: #212529;
}

/* Dark mode */
[data-theme="dark"] {
  --font-color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
  --secondary-color: #2c2c2c;
  --form-bg:#404040;
  --form-border:1px solid #404040;
  --text-color:#fafafa;


    /* Table Specific Variables */
    --table-bg: #1e1e1e;
    --table-text-color: #ffffff;
    --table-border-color: #333333;
    --table-header-bg: #333333;
    --table-header-text-color: #ffffff;
    --button-bg: #bb86fc;
    --button-text-color: #121212;
    /* Tabs variables */
    --tabs-bg: #343a40;
    --tabs-active-bg: #495057;
    --tabs-border-color: #454d55;
    --tabs-text-color: #f8f9fa;
}
/* Dark mode theme */

*{
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #556ee6;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--font-color);
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
.form-control{
  background-color: var(--form-bg);
  color: var(--text-color);
  border: var(--form-border);
}
.form-control:focus{
  background-color: var(--form-bg);
  color: var(--text-color);
}
.form-control::placeholder{
  color: var(--text-color);
}
.navbar{
  background-color:var(--secondary-color) !important;
  color:var(--font-color);
}
.navbar a{
  color:var(--font-color);

}
.themeButton {
  position: relative;
  background: none;
  border: none; 
  cursor: pointer;
  font-size: 24px; /* Adjust as needed */
  color: #242424;
  overflow: hidden; /* Ensure icons do not overflow */
  transition: color 0.3s ease;
}

.themeButton .icon {
  position: absolute;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.themeButton .icon.sun {
  opacity: 1;
}

.themeButton .icon.moon {
  opacity: 0;
  transform: translateY(-10px); /* Move up slightly to give a fading effect */
}

/* When theme is toggled */
.themeButton.dark-mode .icon.sun {
  opacity: 0;
  transform: translateY(-10px);
}

.themeButton.dark-mode .icon.moon {
  opacity: 1;
  transform: translateY(0);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.home_container{
  margin: 10px;
}

.custom-card {
  width: 18rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--form-bg); /* Use custom property for background */
  color: var(--text-color); /* Use custom property for text color */
}

.custom-card-body {
  flex: 1;
}

.custom-card-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-card-img img {
  width: 50px;
  height: 50px;
  margin: 10px;
}
table {
  background-color: var(--table-bg);
  color: var(--table-text-color);
  border-color: var(--table-border-color);
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  color: var(--table-text-color);
  padding: 12px 16px;
  border: 1px solid var(--table-border-color);
}

table th {
  background-color: var(--table-header-bg);
  color: var(--table-header-text-color);
  text-align: left;
}

table .btn {
  background-color: var(--button-bg);
  color: var(--button-text-color);
  border: none;
}

table .btn:hover {
  background-color: var(--secondary-color);
  color: var(--text-primary);
}


/* Applying the variables to tabs styling */
.nav-tabs {
  background-color: var(--tabs-bg);
  border-bottom: 1px solid var(--tabs-border-color);
}

.nav-tabs .nav-link {
  color: var(--tabs-text-color);
}

.nav-tabs .nav-link.active {
  background-color: var(--tabs-active-bg);
  color: var(--font-color);
  border-color: var(--tabs-border-color);
}